<nav
  class="navbar navbar-expand-lg sticky-top navbar-light bg-light opacity-10 shadow-sm m-0 p-0"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-light" href="/">
      <img
        id="assest"
        src="/assets/logo.png"
        alt=""
        width="80"
        height="60"
        class="d-inline-block align-text-center"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      id="navbarSupportedbutton"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Patient
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/patient/new">Nouveau patient</a>
            </li>

            <li>
              <a class="dropdown-item" href="/patient">Liste des patients</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="acte-list"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Acte</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/acte/Consultation"
                >Liste des consultations</a
              >
              <a class="dropdown-item" href="/acte/Chirurgie"
                >Liste des chirurgies</a
              >
              <a class="dropdown-item" href="/acte/KT">Liste des KT</a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="personel-list"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Personel</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/staffs">Liste des Personels</a>
              <!-- <a class="dropdown-item" href="/praticiens">Liste Praticiens</a> -->
            </li>
          </ul>
        </li>
      </ul>

      <!-- <a
        class="btn btn-outline-secondary"
        href="/patient/generatepdf"
        target="_blank"
        >Imprimer <i class="bi bi-printer-fill py-3 px-2"></i
      ></a> -->
    </div>
  </div>
</nav>
