<% if (currentUser) { %>
  <a
    class="nav-link dropdown-toggle d-flex align-items-center"
    href="#"
    id="navbarDarkDropdownMenuLink"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="https://ui-avatars.com/api/?name=<%= currentUser.firstname%>+<%= currentUser.lastname%>&background=AAD4A6&color=000000&size=200&font-size=0.5&rounded=true&bold=true"
      alt="User Avatar"
      width="35"
      height="35"
      class="rounded-circle me-2 border border-success"
    />
    <span class="d-none d-md-inline fw-bold text-dark">
      <%= currentUser.firstname %>
    </span>
  </a>
  <% } else { %>
  <a
    class="nav-link dropdown-toggle d-flex align-items-center"
    href="#"
    id="navbarDarkDropdownMenuLink"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="bi bi-person-circle fs-4 text-dark"></i>
    <span class="d-none d-md-inline fw-bold ms-2">Account</span>
  </a>
  <% } %>
  
  <ul
    class="dropdown-menu dropdown-menu-end shadow-sm border-0 rounded bg-antiqueSteel fw-bold"
    aria-labelledby="navbarDarkDropdownMenuLink"
  >
    <% if (!currentUser) { %>
    <li>
      <a class="dropdown-item d-flex align-items-center fw-bold" href="/user/login">
        <i class="bi bi-box-arrow-in-right me-2 text-success"></i> Login
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center fw-bold" href="/user/register">
        <i class="bi bi-person-plus-fill me-2 text-info"></i> Register
      </a>
    </li>
    <% } else { %>
    <li>
      <a class="dropdown-item d-flex align-items-center fw-bold" href="/user/<%= currentUser._id %>/profile">
        <i class="bi bi-person-fill me-2 text-primary"></i> Profile
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center fw-bold" href="/user/logout">
        <i class="bi bi-box-arrow-right me-2 text-danger"></i> Logout
      </a>
    </li>
    <% } %>
  </ul>
  