<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-outline-warning bg-gradient px-5 py-1 me-2"
  data-bs-toggle="modal"
  data-bs-target="#update-password"
>
  <span class="text-black px-5"> تغيير كلمة المرور </span>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="update-password"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">تغيير كلمة المرور</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3 needs-validation"
          action="/user/<%= currentUser.id %>/reset-password?_method=PUT"
          id="user"
          method="POST"
          novalidate
        >
          <div class="form-floating input-group mb-3">
            <input
              name="oldPassword"
              type="password"
              class="form-control "
              id="oldPassword"
              required
            />
            <label for="oldPassword" class="form-label"
              >كلمة المرور الحالية</label
            >
            <div class="valid-feedback">BIEN</div>
            <div class="input-group-text">
              <span id="show_hide_old_password">
                <i id="icon-eye-old-password" class="bi bi-eye-fill"></i>
              </span>
            </div>
          </div>
          <div class="form-floating input-group mb-3">
           
            <input
              name="newPassword"
              type="password"
              class="form-control "
              id="newPassword"
              required
            />
            <label for="newPassword" class="form-label">
              كلمة المرور الجديدة</label
            >
            <div class="valid-feedback">BIEN</div>
            <div class="input-group-text">
              <span id="show_hide_new_password">
                <i id="icon-eye-new-password" class="bi bi-eye-fill"></i>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              إلغاء
            </button>
            <button class="btn btn-outline-success">تأكيد</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
