<!DOCTYPE html>
<html>
  <%- include("../layouts/head")%>
  <body class="d-flex flex-column">
    <div
      class="vh-100 d-flex justify-content-center align-items-center"
      id="login-box"
    >
      <div class="p-5 shadow-sm border rounded-3">
        <div class="d-flex justify-content-center align-items-center pb-5">
          <div class="d-flex flex-column align-items-center my-5">
            <a href="/">
              <img src="/assets/logo.png" alt="" height="100px" />
            </a>
          </div>
        </div>

        <form
          class="row g-3 needs-validation"
          action="/user/reset-password/<%=token%>"
          id="personal"
          method="POST"
          novalidate
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              name="email"
              class="form-control border border-success"
              id="email"
              value="<%= email %>"
              required
              readonly
            />
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating input-group mb-3">
            <input
              name="password"
              type="password"
              class="form-control"
              id="resetPassword"
              data-rule-password="true"
              required
            />
            <label for="resetPassword" class="form-label">Mot de passe</label>
            <div class="valid-feedback">BIEN</div>
            <div class="input-group-text">
              <span id="show_hide_reset_password">
                <i id="icon-eye-reset-password" class="bi bi-eye-fill"></i>
              </span>
            </div>
          </div>
          <div class="form-floating input-group mb-3">
            <input
              name="confirmPassword"
              type="password"
              class="form-control"
              id="confirmPassword"
              data-rule-password="true"
              data-rule-equalTo="#resetPassword"
            />
            <label for="confirmPassword" class="form-label"
              >Confirme mot de passe</label
            >
            <div class="input-group-text">
              <span id="show_hide_confirm_password">
                <i id="icon-eye-confirm-password" class="bi bi-eye-fill"></i>
              </span>
            </div>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="d-grid">
            <button class="btn btn-success px-3 py-2" type="submit">
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>
    <%- include("../layouts/imports")%>
  </body>
</html>
