.bg-pistachio {
  background-color: #DCF4E4;
}

.bg-greenSea {
  background-color: #66b0a7;
}

.bg-pearlAqua {
  background-color: rgba(91, 184, 173, 0.6196078431);
}

.bg-crystalBlue {
  background-color: #afd9ea;
}

.bg-lightCoral {
  background-color: #e2564c;
}

.bg-mediumTurquoise {
  background-color: #16a7ba;
}

.bg-antiqueSteel {
  background-color: #d4dede;
}

.text-antiqueSteel {
  color: #d4dede;
}

.text-pistachio {
  color: #DCF4E4;
}

.text-crystalBlue {
  color: #afd9ea;
}

.text-greenSea {
  color: #66b0a7;
}

.text-pearlAqua {
  color: rgba(91, 184, 173, 0.6196078431);
}

.text-lightCoral {
  color: #e2564c;
}

.text-mediumTurquoise {
  color: #16a7ba;
}

.btn-greenSea {
  color: #fff;
  background-color: #66b0a7;
  border-color: #66b0a7;
}

.btn-outline-greenSea {
  color: #66b0a7;
  border-color: #66b0a7;
}

.btn-outline-greenSea:hover {
  color: #fffdfd;
  background-color: #66b0a7;
  border-color: #66b0a7;
}

.btn-greenSea:hover {
  color: #fff;
  background-color: #66b0a7;
  opacity: 0.8;
}

.btn-pearlAqua {
  color: #545454;
  background-color: rgba(91, 184, 173, 0.6196078431);
  border-color: rgba(91, 184, 173, 0.6196078431);
}

.btn-outline-pearlAqua {
  color: rgba(91, 184, 173, 0.6196078431);
  border-color: rgba(91, 184, 173, 0.6196078431);
}

.btn-outline-pearlAqua:hover {
  color: #fffdfd;
  background-color: rgba(91, 184, 173, 0.6196078431);
  border-color: rgba(91, 184, 173, 0.6196078431);
}

.btn-pearlAqua:hover {
  background-color: rgba(91, 184, 173, 0.6196078431);
  opacity: 0.8;
}

.btn-crystalBlue {
  color: #fff;
  background-color: #afd9ea;
  border-color: #afd9ea;
}

.btn-crystalBlue:hover {
  color: #fff;
  background-color: #afd9ea;
  opacity: 0.8;
}

.btn-mediumTurquoise {
  color: #fff;
  background-color: #16a7ba;
  border-color: #16a7ba;
}

.btn-mediumTurquoise:hover {
  color: #fff;
  background-color: #16a7ba;
  opacity: 0.8;
}

.btn-outline-mediumTurquoise {
  color: #16a7ba;
  border-color: #16a7ba;
}

.btn-outline-mediumTurquoise:hover {
  color: #fffdfd;
  background-color: #16a7ba;
  border-color: #16a7ba;
}

.btn-lightCoral {
  color: #fff;
  background-color: #e2564c;
  border-color: #e2564c;
}

.btn-lightCoral:hover {
  color: #fff;
  background-color: #e2564c;
  opacity: 0.8;
}

.btn-outline-lightCoral {
  color: #e2564c;
  border-color: #e2564c;
}

.btn-outline-lightCoral:hover {
  color: #fffdfd;
  background-color: #e2564c;
  border-color: #e2564c;
}

.btn-pistachio {
  color: #fff;
  background-color: #DCF4E4;
  border-color: #DCF4E4;
}

.btn-pistachio:hover {
  color: #fff;
  background-color: #DCF4E4;
  opacity: 0.8;
}

.btn-antiqueSteel {
  color: #fff;
  background-color: #d4dede;
  border-color: #d4dede;
}

.btn-antiqueSteel:hover {
  color: #fff;
  background-color: #d4dede;
  opacity: 0.8;
}

.alert-greenSea {
  color: #4c837c;
  background-color: #DCF4E4;
  border-color: #DCF4E4;
}

.table-greenSea {
  --bs-table-bg:#5bb8ad91;
  --bs-table-striped-bg: #CAEDE9;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bbd8d5;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #CAEDE9;
  --bs-table-hover-color: #000;
  color: #555353;
  border-color: #bcd0c7;
}/*# sourceMappingURL=color.css.map */