$lightCoral: #f6665c;
$mediumTurquoise: #00bcd4;
.bg-lightCoral {
  background-color: $lightCoral;
}
.text-lightCoral {
  color: $lightCoral;
}

.bg-mediumTurquoise {
  background-color: $mediumTurquoise;
}

.text-mediumTurquoise {
  color: $mediumTurquoise;
}
