.event-scaling {
  transform: scale(1);
  transition: transform 1s ease-in;
}
/* .event-scaling:hover {
  transform: scale(1.02);
  transition: transform 1s ease-in-out;
  border-bottom: #0e79b2 solid;
  background-color: #FBFEF9;
} */
.event-cover {
  overflow: hidden;
  /* max-height:100%;
  max-width: 100%; */
  
}
.event-cover img {
  /* display: block; */
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
   /* width: 100%;
   height: 100%;
   object-fit: contain; */
}
.event-cover:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}

