<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-secondary  px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#cons-<%= consultation.id %>"
>
<i class="bi bi-file-text"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="cons-<%= consultation.id %>"
    data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Diagnostique</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
       <p class="text-start lh-base"> <%=consultation.comment%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger bg-gradient" data-bs-dismiss="modal">
          Férmer
        </button>
      </div>
    </div>
  </div>
</div>
