<button
  id="item2"
  type="button"
  class="btn btn-outline-success me-2"
  data-bs-toggle="modal"
  data-bs-target="#newPatient"
>
  <i class="bi bi-person-plus-fill me-2"></i>Nouveau patient
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="newPatient"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter Patient</h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 m-2 needs-validation"
          action="/patient"
          id="personal"
          method="POST"
          autocomplete="off"
          novalidate
        >
          <div class="form-floating col-md-6">
            <input
              id="patientFirstName"
              name="patient[firstname]"
              type="text"
              class="form-control"
              required
              autofocus
            />
            <label for="patientFirstName" class="form-label">Prénom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              id="patientLastName"
              name="patient[lastname]"
              type="text"
              class="form-control"
              required
            />
            <label for="patientLastName" class="form-label">Nom</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <input
              id="patientBirthDate"
              name="patient[birthdate]"
              type="date"
              class="form-control"
              required
            />
            <label for="patientBirthDate" class="form-label"
              >Date de Naissance
            </label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select
              id="patientGender"
              name="patient[gender]"
              class="form-select"
              required
            >
              <option selected disabled value="">Genre</option>
              <option class="option" value="Male">Male</option>
              <option class="option" value="Female">Female</option>
            </select>
            <label for="patientGender" class="form-label">Genre</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="patientPhoneNumber"
              name="patient[phone]"
              required
            />
            <label for="patientPhoneNumber" class="form-label">Téléphone</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <select
              id="medecinref"
              name="patient[medecinref]"
              class="form-select"
            >
              <option class="option" value="" disabled selected>
                Medecin Ref
              </option>
              <% for(medecin of medecins ){ %>

              <option class="option" value="<%= medecin.lastname%>">
                Dr. <%= medecin.lastname.toUpperCase()%>
              </option>
              <% } %>
            </select>
            <label for="medecinref" class="form-label">Medecin Ref</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button class="btn btn-outline-success">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
