<th id="hide" scope="col">Ajouter Acte</th>
<th id="hide" scope="col">Action</th>
<th><%- include("./consultation/new")%></th>
<th>
  <div class="d-flex justify-content-center align-items-center">
    <%- include("./edit")%> <%- include("./delete")%>
  </div>
</th>