<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
        <select id="country">
          <option value="AF">Afghanistan</option>
          <option value="AL">Albania</option>
          <option value="HR">Croatia</option>
          <option value="ID">Indonesia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
      
      <script>
        const EL_country = document.querySelector('#country');
        EL_country.value = 'AL';   // Set SELECT value to 'ID' ("Indonesia")
        EL_country.options[EL_country.selectedIndex].defaultSelected = true; // Add Attribute selected to Option Element
        
        
        </script>
        
</body>
</html>
