<button
  id="item2"
  type="button"
  class="btn btn-outline-greenSea"
  data-bs-toggle="modal"
  data-bs-target="#newmedicament"
>
  <i class="bi bi-person-plus-fill me-2"></i>Ajouter
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="newmedicament"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-greenSea text-white">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter un Médicament</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-4 needs-validation"
          action="/medicaments"
          id="medicament"
          method="POST"
          autocomplete="off"
          novalidate
        >
          <!-- Commercial Name -->
          <div class="col-md-6">
            <div class="form-floating">
              <input
                id="idcommercialname"
                name="medicament[commercialname]"
                type="text"
                class="form-control"
                style="text-transform: capitalize"
                autofocus
                required
              />
              <label for="idcommercialname" class="form-label">Nom Commercial</label>
              <div class="valid-feedback">Valide</div>
            </div>
          </div>

          <!-- DCI -->
          <div class="col-md-6">
            <div class="form-floating">
              <input
                id="iddci"
                name="medicament[dci]"
                style="text-transform: capitalize"
                type="text"
                class="form-control"
                required
              />
              <label for="iddci" class="form-label">DCI</label>
              <div class="valid-feedback">Valide</div>
            </div>
          </div>

          <!-- Dosage -->
          <div class="col-md-6">
            <div class="form-floating">
              <input
                id="iddosage"
                name="medicament[dosage]"
                style="text-transform: capitalize"
                type="text"
                class="form-control"
                required
              />
              <label for="iddosage" class="form-label">Dosage</label>
              <div class="valid-feedback">Valide</div>
            </div>
          </div>

          <!-- Form -->
          <div class="col-md-6">
            <div class="form-floating">
              <select
                id="idform"
                name="medicament[form]"
                class="form-select"
                required
              >
                <option selected disabled value="">Sélectionner Forme</option>
                <option value="Bte">Boîte</option>
                <option value="Tube">Tube</option>
                <option value="Flc">Flacon</option>
              </select>
              <label for="idform" class="form-label">Forme</label>
              <div class="valid-feedback">Valide</div>
            </div>
          </div>

          <!-- C. Thérapeutique -->
          <div class="col-md-6">
            <div class="form-floating">
              <input
                id="idtherapeutique"
                name="medicament[therapeutique]"
                style="text-transform: capitalize"
                type="text"
                class="form-control"
              />
              <label for="idtherapeutique" class="form-label">C.Therapeutique</label>
              <div class="valid-feedback">Valide</div>
            </div>
          </div>

          <!-- Laboratoire -->
          <div class="col-md-6">
            <div class="form-floating">
              <input
                id="idlaboratoire"
                name="medicament[laboratoire]"
                type="text"
                class="form-control"
                style="text-transform: capitalize"
              />
              <label for="idlaboratoire" class="form-label">Laboratoire</label>
              <div class="valid-feedback">Valide</div>
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button class="btn btn-success">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $("#newmedicament").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>

<style>
 
</style>
