<% layout('layouts/boilerplate')%>
<div class="partners">
  <div class="titles">
    <h1>Our Partners</h1>
  </div>
  <section class="customer-logos slider">
    <div class="slide"><img src="/assets/adidas.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/Sonatrach.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/google.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/instagram.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/nike.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/twitter.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/uber.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/youtube.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/cardio3.png" alt="logo" /></div>
    <div class="slide"><img src="/assets/cardio2.jpg" alt="logo" /></div>
    <div class="slide"><img src="/assets/cardio1.jpg" alt="logo" /></div>
  </section>
</div>