<% layout('layouts/boilerplate')%>
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active slide">
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          src="/assets/clinique-peronel.jpg"
          alt=""
        />

        <div class="container">
          <div class="carousel-caption text-start">
            <!-- <p><a class="btn btn-lg btn-primary" href="/patient">Patient</a></p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item slide">
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          src="/assets/cardio2.jpg"
          alt="cardio2"
        />

        <div class="container">
          <div class="carousel-caption">
            <p>
              <a class="btn btn-lg btn-primary" href="/patient">Learn more</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item slide">
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          src="/assets/cardio3.png"
          alt=""
        />

        <div class="container">
          <div class="carousel-caption text-end"></div>
        </div>
      </div>
      <div class="carousel-item slide">
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          src="/assets/oasis_cover.jpg"
          alt=""
        />

        <div class="container">
          <div class="carousel-caption text-end"></div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right" data-aos-once="true">
        <img
          class="bd-placeholder-img rounded-circle shadow"
          width="140"
          height="140"
          src="/assets/KT.png"
          alt="KT"
        />
        <h2>KT</h2>

        <p>
          <a class="btn btn-outline-greenSea bg-gradient shadow" href="/acte/KT"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4" data-aos="fade-right" data-aos-once="true">
        <img
          class="bd-placeholder-img rounded-circle shadow"
          width="140"
          height="140"
          src="/assets/consult.png"
          alt="Consultation"
        />

        <h2>Consultation</h2>

        <p>
          <a class="btn btn-outline-mediumTurquoise shadow" href="/acte/Consultation"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4" data-aos="fade-right" data-aos-once="true">
        <img
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          src="/assets/chirurgie.png"
          alt="Chirurgie"
        />
        <h2>Chirurgie</h2>

        <p>
          <a class="btn btn-outline-lightCoral shadow" href="/acte/Chirurgie"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette" data-aos="fade-right" data-aos-once="true">
      <div class="col-md-5">
        <!-- <h2 class="featurette-heading">Témoignage</h2> -->
      </div>
      <div class="col-md-7">
        <iframe
          class="mx-auto shadow-sm"
          src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmohamed.reghis.16%2Fvideos%2F976745093730137%2F&show_text=false&width=560&t=0"
          width="100%"
          height="314"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          allowFullScreen="true"
        ></iframe>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette" data-aos="fade-left" data-aos-once="true">
      <div class="col-md-5 order-md-2">
        <!-- <h2 class="featurette-heading">Témoignage</h2> -->
      </div>
      <div class="col-md-7 order-md-1">
        <iframe
          class="mx-auto shadow-sm"
          src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmohamed.reghis.16%2Fvideos%2F1152955688916539%2F&show_text=false&width=560&t=0"
          width="100%"
          height="314"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          allowFullScreen="true"
        ></iframe>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row" data-aos="fade-right" data-aos-once="true">
      <div class="col-md-6 col-lg-6">
        <!-- <h2 class="featurette-heading">
          And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        -->
      </div>
      <div class="col-md-6 col-lg-6">
        <img
          class="img-fluid rounded float-start shadow"
          src="/assets/cardio-nurse.jpg"
          alt="cardio-nurse"
        />
      </div>
    </div>

    <h2 class="text-decoration-underline mb-5">Nos Medecins</h2>
    <!-- <hr class="featurette-divider" /> -->
    <div class="row mt-5">
      <div class="col-4 mt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img class="img-fluid rounded shadow" src="assets/hiba.jpg" alt="" />
          <h3 class="mt-2 fw-bold">D. Hiba</h3>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="img-fluid rounded shadow"
            src="assets/touati.jpg"
            alt=""
          />
          <h3 class="mt-2 fw-bold">D. Touati</h3>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="img-fluid rounded shadow"
            src="assets/touati.jpg"
            alt=""
          />
          <h3 class="mt-2 fw-bold">D. Lassakeur</h3>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="img-fluid rounded shadow"
            src="assets/touati.jpg"
            alt=""
          />
          <h3 class="mt-2 fw-bold">D. Matene</h3>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="img-fluid rounded shadow"
            src="assets/touati.jpg"
            alt=""
          />
          <h3 class="mt-2 fw-bold">D. Rouaki</h3>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="img-fluid rounded shadow"
            src="assets/touati.jpg"
            alt=""
          />
          <h3 class="mt-2 fw-bold">D. Labcir Mohammed</h3>
        </div>
      </div>
      <!-- <div class="col-4"><img class="rounded" src="" alt=""></div> -->
    </div>
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
</main>
